.logo__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.11em; }

.logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em; }

.hero-content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%; }

.popup__title, .footer-column__title, .about-content__title, .friends__title, .help__title, .donation-content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  letter-spacing: 0.06em; }

.popup__subtitle, .footer-column-item__title, .help-icons-item__title, .donation-card__number {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em; }

.popup-list__item, .donation-content__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em; }

.popup-list__point {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em; }

.header .menu-list__link, .hero-content__text, .about-content__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%; }

.hero-content__button, .friends__button {
  border-radius: 100px;
  padding: 15px 45px 15px 45px;
  background-color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4c4c4c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none; }
  .hero-content__button:hover, .friends__button:hover {
    background-color: #fddcc4;
    cursor: url("../../assets/icons/Vector.svg"), pointer; }

.friends-slider-outer .friends-slider-inner .card__button {
  border-radius: 100px;
  padding: 15px 45px 15px 45px;
  background-color: transparent;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4c4c4c;
  outline: none;
  border: 2px solid #f1cdb3;
  text-align: center; }
  .friends-slider-outer .friends-slider-inner .card__button:hover {
    background-color: #fddcc4;
    cursor: url("../../assets/icons/Vector.svg"), pointer; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  cursor: url("../../assets/icons/Union.svg"), default; }

body::-webkit-scrollbar {
  width: 8px; }

body:-webkit-scrollbar-track {
  background-color: #292929; }

body::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 30px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }
  @media screen and (max-width: 1279.9px) {
    .wrapper {
      max-width: 708px; } }
  @media screen and (max-width: 767.9px) {
    .wrapper {
      max-width: 320px; } }

a {
  text-decoration: none;
  cursor: url("../../assets/icons/Vector.svg"), pointer; }
  a a:hover {
    text-decoration: none; }

.no-scroll {
  height: 100vh;
  overflow: hidden; }

.cover {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(41, 41, 41, 0.6); }
  .cover_visible {
    display: flex;
    justify-content: center;
    align-items: center; }

.popup {
  margin: 200px auto;
  width: 900px;
  position: relative;
  z-index: 2;
  display: none;
  column-gap: 10px;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px; }
  .popup.popup_visible {
    display: flex; }
  .popup__image {
    display: block;
    width: 500px;
    height: 520px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px; }
  .popup .popup-text {
    display: flex;
    flex-direction: column; }
  .popup__title {
    margin-bottom: 10px; }
  .popup__subtitle {
    margin-bottom: 20px; }
  .popup__description {
    max-width: 350px;
    margin-bottom: 20px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000; }
  .popup-list {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    list-style: none; }
    .popup-list__icon {
      margin-right: 10px;
      margin-top: 6px;
      align-self: flex-start; }
    .popup-list__item {
      display: flex;
      color: #000000; }
    .popup-list__point {
      color: #000000; }
  .popup__close {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f1cdb3;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: transparent;
    outline: none;
    position: absolute;
    right: -45px;
    top: -50px; }
    .popup__close:disabled {
      border-color: #cdcdcd; }
      .popup__close:disabled svg path {
        fill: #cdcdcd; }
      .popup__close:disabled:hover {
        background-color: transparent; }
    .popup__close:hover {
      background-color: #f1cdb3;
      cursor: url("../../assets/icons/Vector.svg"), pointer; }
    .popup__close.active {
      background-color: #f1cdb3; }
    .popup__close svg {
      align-self: center; }
  .popup:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04); }
  @media screen and (max-width: 1279.9px) {
    .popup {
      width: 630px; }
      .popup__image {
        width: 350px;
        height: 350px; }
      .popup__title {
        margin-top: 10px; }
      .popup__description {
        max-width: 260px; }
      .popup-list {
        max-width: 260px; } }
  @media screen and (max-width: 767.9px) {
    .popup {
      width: 240px; }
      .popup__image {
        display: none; }
      .popup__subtitle {
        text-align: center; }
      .popup .popup-text {
        width: 100%;
        align-items: center; }
      .popup__description {
        width: 200px;
        text-align: justify; }
      .popup-list {
        margin-bottom: 10px;
        width: 200px; }
      .popup__close {
        right: -32px;
        top: -55px; } }

.burger-menu {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  row-gap: 8px;
  column-gap: 0;
  transition: 1s;
  cursor: url("../../assets/icons/Vector.svg"), pointer; }
  .burger-menu__line {
    width: 30px;
    height: 2px;
    background-color: #f1cdb3; }
  .burger-menu.burger-menu_active {
    transform: rotate(90deg); }
  .burger-menu:hover {
    cursor: url("../../assets/icons/Vector.svg"), pointer; }
  @media screen and (max-width: 767.9px) {
    .burger-menu {
      display: flex; } }

.logo.burger-logo .logo__subtitle {
  color: #ffffff;
  text-indent: 2px; }

.logo.burger-logo .logo__title {
  color: #f1cdb3; }

.burger-content {
  position: fixed;
  z-index: 15;
  display: none;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background-color: #292929;
  transition: 1s; }
  .burger-content .burger-header {
    display: flex;
    justify-content: flex-start;
    column-gap: 43px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 160px; }
  .burger-content-menu-list {
    width: 243px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    list-style: none; }
    .burger-content-menu-list__link {
      text-decoration: none;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 160%;
      color: #fafafa;
      padding-bottom: 4px;
      border-bottom: 3px solid transparent; }
      .burger-content-menu-list__link:hover, .burger-content-menu-list__link_active {
        border-color: #f1cdb3;
        cursor: url("../../assets/icons/Vector.svg"), pointer; }
      .burger-content-menu-list__link:active {
        border-color: #f1cdb3; }
  .burger-content.burger-content_visible {
    right: 0; }
  @media screen and (max-width: 767.9px) {
    .burger-content {
      display: block; } }

.logo__subtitle {
  color: #ffffff;
  text-indent: 2px; }

.logo__title {
  color: #f1cdb3;
  margin: 0 0 11px 0; }

.header .wrapper {
  justify-content: space-between; }
  @media screen and (max-width: 767.9px) {
    .header .wrapper {
      justify-content: center;
      column-gap: 43px; } }

.header .menu {
  display: flex;
  align-items: center; }
  .header .menu-list {
    list-style: none;
    display: flex;
    column-gap: 36px;
    align-items: center; }
    .header .menu-list__link {
      text-decoration: none;
      color: #cdcdcd;
      padding-bottom: 4px;
      border-bottom: 3px solid transparent; }
      .header .menu-list__link:hover, .header .menu-list__link_active {
        border-color: #f1cdb3;
        cursor: url("../../assets/icons/Vector.svg"), pointer; }
      .header .menu-list__link:active {
        border-color: #f1cdb3; }
  @media screen and (max-width: 767.9px) {
    .header .menu {
      display: none; } }

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20; }
  .footer .wrapper {
    justify-content: center;
    column-gap: 160px;
    flex-wrap: nowrap; }
  .footer__img {
    align-self: flex-end;
    max-width: 300px;
    max-height: 315px;
    margin-top: 40px; }
  .footer .columns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 143px;
    margin-top: 57px; }
  .footer-column {
    display: flex;
    flex-direction: column;
    row-gap: 42px; }
    .footer-column__title {
      color: #ffffff;
      margin-bottom: 0; }
    .footer-column-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 20px; }
      .footer-column-item__title {
        color: #f1cdb3;
        margin: 0; }
  .footer-column.address {
    row-gap: 33px; }
  @media screen and (max-width: 1279.9px) {
    .footer .wrapper {
      justify-content: center;
      column-gap: 60px;
      row-gap: 60px;
      flex-wrap: wrap; }
    .footer-column.address {
      row-gap: 27px; } }
  @media screen and (max-width: 767.9px) {
    .footer .columns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 40px;
      column-gap: 0;
      margin-top: 30px;
      margin-bottom: 70px; }
    .footer .wrapper {
      justify-content: center;
      align-items: center;
      flex-direction: column; } }

.gradient {
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 60px; }

.hero {
  padding-top: 60px; }
  .hero .wrapper {
    justify-content: space-between; }
  .hero-content__title {
    color: #ffffff;
    max-width: 310px;
    margin-top: 163px; }
  .hero-content__text {
    color: #cdcdcd;
    margin: 42px 0 42px 0;
    max-width: 460px; }
  @media screen and (max-width: 1279.9px) {
    .hero .wrapper {
      flex-direction: column;
      row-gap: 100px;
      justify-content: center;
      align-items: center; }
    .hero-content {
      display: flex;
      flex-direction: column;
      width: 460px; }
      .hero-content__button {
        align-self: center; }
    .hero-img {
      align-self: flex-end; } }
  @media screen and (max-width: 767.9px) {
    .hero-content {
      display: flex;
      flex-direction: column;
      width: 300px; }
      .hero-content__title {
        font-size: 25px;
        max-width: 300px;
        text-align: center; }
      .hero-content__text {
        text-align: center; }
    .hero-img {
      width: 260px;
      height: 271px; } }

.about {
  padding: 30px 0 87px 0;
  background-color: #ffffff; }
  .about .wrapper {
    justify-content: center;
    column-gap: 120px;
    padding-top: 35px; }
  .about-img {
    align-self: center; }
  .about-content {
    margin-top: 27px;
    max-width: 430px; }
    .about-content__title {
      color: #545454;
      max-width: 370px;
      margin-bottom: 27px; }
    .about-content__text {
      color: #4c4c4c;
      margin-bottom: 25px; }
  @media screen and (max-width: 1279.9px) {
    .about .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      column-gap: 0;
      row-gap: 80px;
      padding-top: 35px; }
    .about-img {
      order: 2; } }
  @media screen and (max-width: 767.9px) {
    .about .wrapper {
      row-gap: 42px; }
    .about-content {
      width: 300px;
      align-self: center; }
      .about-content__title {
        width: 220px;
        font-size: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto; }
      .about-content__text {
        text-align: justify; }
    .about-img {
      width: 260px;
      height: 363px; } }

.friends {
  background-color: #f6f6f6; }
  .friends .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 58px;
    padding: 86px 0 100px 0; }
  .friends__title {
    color: #545454;
    max-width: 400px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .friends-slider-outer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 53px; }
    .friends-slider-outer .friends-slider-inner {
      width: 990px;
      overflow: hidden; }
      .friends-slider-outer .friends-slider-inner .cards-wrap {
        display: inline-block;
        transition: opacity 1s;
        margin-left: 0px; }
      .friends-slider-outer .friends-slider-inner .cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 90px;
        transition: 1s; }
      .friends-slider-outer .friends-slider-inner .card {
        width: 270px;
        min-width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        background: #fafafa;
        border-radius: 9px; }
        .friends-slider-outer .friends-slider-inner .card__image {
          width: 100%;
          display: block;
          max-width: 270px;
          max-height: 270px;
          border-radius: 9px; }
        .friends-slider-outer .friends-slider-inner .card:hover {
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          cursor: url("../../assets/icons/Vector.svg"), pointer; }
        .friends-slider-outer .friends-slider-inner .card__title {
          font-family: Georgia;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          color: #545454; }
        .friends-slider-outer .friends-slider-inner .card__button {
          margin-bottom: 30px; }
    .friends-slider-outer .slider-button {
      width: 52px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #f1cdb3;
      box-sizing: border-box;
      border-radius: 100%;
      background-color: transparent;
      outline: none;
      align-self: center; }
      .friends-slider-outer .slider-button:disabled {
        border-color: #cdcdcd; }
        .friends-slider-outer .slider-button:disabled svg path {
          fill: #cdcdcd; }
        .friends-slider-outer .slider-button:disabled:hover {
          background-color: transparent; }
      .friends-slider-outer .slider-button:hover {
        background-color: #f1cdb3;
        cursor: url("../../assets/icons/Vector.svg"), pointer; }
      .friends-slider-outer .slider-button.active {
        background-color: #f1cdb3; }
      .friends-slider-outer .slider-button svg {
        align-self: center; }
    .friends-slider-outer .slider-button.right {
      transform: rotate(180deg); }
  @media screen and (max-width: 1279.9px) {
    .friends-slider-outer {
      width: 100%;
      justify-content: Ccenter;
      column-gap: 12px; }
      .friends-slider-outer .friends-slider-inner {
        width: 580px; }
        .friends-slider-outer .friends-slider-inner .cards {
          justify-content: flex-start;
          column-gap: 40px; } }
  @media screen and (max-width: 767.9px) {
    .friends__title {
      font-size: 25px; }
    .friends-slider-outer {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 20px;
      column-gap: 80px; }
      .friends-slider-outer .friends-slider-inner {
        width: 270px; }
        .friends-slider-outer .friends-slider-inner .cards {
          column-gap: 0px;
          order: -1; } }

.help .wrapper {
  flex-direction: column;
  align-items: center;
  padding: 85px 0 100px 0; }

.help__title {
  color: #545454;
  width: 312px;
  text-align: center;
  margin-bottom: 60px; }

.help-icons {
  max-width: 1038px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 56px; }
  .help-icons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 28px; }
    .help-icons-item__title {
      color: #545454; }

@media screen and (max-width: 1279.9px) {
  .help-icons {
    max-width: 630px;
    column-gap: 60px; }
    .help-icons-item {
      width: 170px; } }

@media screen and (max-width: 767.9px) {
  .help__title {
    width: 240px;
    font-size: 25px; }
  .help-icons {
    column-gap: 30px;
    row-gap: 30px;
    justify-content: flex-start; }
    .help-icons-item {
      width: 130px;
      row-gap: 20px; }
      .help-icons-item__title {
        font-size: 15px; } }

.donation {
  background-color: #f6f6f6; }
  .donation .wrapper {
    padding: 83px 0 100px 0;
    justify-content: center;
    column-gap: 30px; }
  .donation-content {
    max-width: 380px; }
    .donation-content__title {
      color: #545454;
      max-width: 300px;
      margin-bottom: 22px; }
    .donation-content__subtitle {
      color: #545454;
      margin-bottom: 20px; }
    .donation-content__description {
      font-family: Arial;
      font-style: italic;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #b2b2b2; }
  .donation__img {
    max-width: 505px;
    max-height: 261px;
    margin-top: 10px; }
  .donation-card {
    display: block;
    max-width: 349px;
    max-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    column-gap: 15px;
    border-radius: 9px;
    background-color: #f1cdb3;
    margin-bottom: 20px; }
    .donation-card__number {
      color: #545454; }
    .donation-card:hover {
      background-color: #fddcc4; }
  @media screen and (max-width: 1279.9px) {
    .donation .wrapper {
      flex-direction: column;
      row-gap: 60px;
      align-items: center;
      justify-content: center;
      column-gap: 0; }
    .donation__img {
      order: 2; } }
  @media screen and (max-width: 767.9px) {
    .donation-content {
      max-width: 300px; }
      .donation-content__title {
        font-size: 25px;
        text-align: center;
        width: 210px;
        margin-left: auto;
        margin-right: auto; }
      .donation-content__subtitle {
        font-size: 14px;
        font-family: Arial;
        text-align: center;
        color: #545454;
        margin-bottom: 20px; }
      .donation-content__description {
        text-align: justify; }
    .donation-card {
      width: 281px;
      margin-left: auto;
      margin-right: auto; }
      .donation-card__number {
        font-size: 15px; }
    .donation__img {
      width: 260px;
      height: 135.5px; } }
