@import "../../assets/styles/_base.scss";

.sticky {
	position: fixed;
	top: 0;
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.header {
	background-color: $color-light-xl;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 1;
	position: sticky;
	top: 0;

	&.hidden{
		opacity: 0;
		z-index: -1;
	}

	.wrapper {
		background-color: $color-light-xl;
	}

	.logo {
		&__subtitle {
			color: $color-dark-3xl;
		}

		&__title {
			color: $color-dark-l;
		}
	}

	.menu {
		&-list {
			&__link {
				color: $color-dark-l;
			}
		}
	}

	@media screen and (max-width: 1279.9px) {
		position: static;
	}
	@media screen and (max-width: 767.9px) {
		position: sticky;
	}
}

.friends {
	background-color: $color-light-l;
	.wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 57px;
		padding: 80px 0 99px 0;
	}

	&__title {
		@extend %h3_style;
		color: $color-dark-l;
		max-width: 400px;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-slider-outer {
		width: 100%;
		display: flex;
		justify-content: center;
		column-gap: 53px;

		.friends-slider-inner {
			overflow: hidden;
			height: 906.7px;
			//outline: 1px solid red;

			.cards {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				column-gap: 40px;
				row-gap: 30px;
				transition: 2s ease-in-out;
			}
			.card {
				@include pet-card;
			}
		}
	}

	&__button {
		@extend %button-primary;
	}

	&-buttons {
		width: 340px;
		display: flex;
		justify-content: space-between;

		.page-number {
			@extend %h4_style;
			color: $color-dark-3xl;
			width: 52px;
			height: 52px;
			line-height: 52px;
			display: flex;
			justify-content: center;
			align-items: center;
			//vertical-align: center;
			border-radius: 100%;
			background-color: $color-primary;
		}

		.slider-button {
			@include button-slider-round;
			align-self: center;
		}
		.slider-button.right {
			transform: rotate(180deg);
		}
	}

	@media screen and (max-width: 1279.9px) {
		.friends-slider-inner {
			width: 580px;
			height: 1371.8px;
		}
	}

	@media screen and (max-width: 767.9px) {
		.friends-slider-inner {
			width: 270px;
			height: 1371.8px;
			overflow: hidden;
		}

		&-buttons {
			width: 300px;
		}

		&__title {
			min-width: 300px;
			font-size: 25px;
		}
	}
}
